title: OS Coursework Journal
description: Linux Server Administration - 7 Week Technical Journal
theme: jekyll-theme-dinky
baseurl: "/OS_Coursework"
url: "https://dipkumar0001.github.io"

# Build settings
markdown: kramdown
plugins:
  - jekyll-feed
  - jekyll-seo-tag

# Exclude from processing
exclude:
  - Gemfile
  - Gemfile.lock
  - README.md
